html, body{
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

h1{
    margin-top: 0;
}

#landing_background{
    height: 100%;
    width: 100%;
    background-color: #66d9ff;
}

#landing_intro_text{
    font-family: "Lobster Two";
    color: "white"
}
